@font-face {
  font-family: main;
  src: url("main.ttf");
}

body {
  background-image: url('https://wallpaperplay.com/walls/full/0/c/a/15864.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  font-family: main;
  font-size: 40px;
  color: white;
}

/* navigation starts */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: main;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  font-family: main;
  font-size: 20px;
  color: red;
  text-decoration: none;
}
/* navigation ends */

.main_text {
  color: white;
  font-size: 15px;
  font-family: main;
}

.spotify_link {
  border-radius: 5px;
}
