<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="/file?file=icon.png">
  <link rel="stylesheet" href="/static?file=glitch.css">
  <link rel="stylesheet" href="/static?file=home.css">
  <title>{{ title }}</title>
</head>
<body>
  <div class="glitch" data-text="GLITCH">GLITCH</div>
</body>
<audio autoplay>
  <source src="{{ song }}" type="audio/mpeg">
</audio>
</html>
